.circle_red {
    width: 300px;
    height: 300px;
    -moz-border-radius: 300px;
    -webkit-border-radius: 300px;
    background-color: red;
    position: absolute;
    top:70px;
    left:100px;
    opacity: 0.6;
}
.circle_green{
    width: 300px;
    height: 300px;
    -moz-border-radius: 300px;
    -webkit-border-radius: 300px;
    background-color: limegreen;
    position: absolute;
    top:260px;
    left:10px;
    opacity: 0.6;
}
.circle_blue{
    width: 300px;
    height: 300px;
    -moz-border-radius: 300px;
    -webkit-border-radius: 300px;
    background-color: blue;
    position: absolute;
    top:260px;
    left:200px;
    opacity:0.6;
}
.block {
    background-color: #dddddd;
    display:block;
    width: 540px;
    height: 540px;
}
.border_red {
    border: 10px solid;
    border-color: darkred;
}
.border_green {
    border: 10px solid;
    border-color: green;
}
.border_blue {
    border: 10px solid;
    border-color: darkblue;
}