* {
  box-sizing: inherit;
  box-sizing: border-box;
}

body {
  font-family: 'Amatic SC', cursive;
  margin: 0;
  line-height: 1.5;
  background-color: black;
}

.greyscale {
  filter: grayscale(50%);
}

hr {
  width: 97%;
  opacity: 0.2;
}

/*HEADER*/

.pizza_img {
  background-image: url("../pizza.jpg");
  background-repeat: no-repeat;
  min-height: 90vh;
  display: block;
  background-size: cover;
  position: relative;
}

.header-title {
  font-size: 100px;
  color: white;
  text-align: center;
  padding-top: 100px;
  line-height: 150px;
  text-size-adjust:100%;
  height: auto;
  width: auto;
}

.topnav {
  overflow: hidden;
  background-color: #000;
  opacity: 0.6;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.5;
}

.topnav:hover {
  opacity: 1.0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  opacity: 1;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/*menu styles*/
.menu-container {
  background-color: black;
  width: 100%;
  padding-bottom: 100px;
}

.menu-container-inner {
  background-color: white;
}

.menu-button {
  background-color: black;
}

.menu-button a {
  text-decoration: none;
  font-size: 36px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding: 8px 16px;
  margin-top: 20px;
  overflow: hidden;
  background-color: black;
}

.menu-button a:hover {
  background-color: lightgray;
  color: black;
}

.left-bottom-line {
  font-size: 24px;
  color: white;
  background-color: black;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 15px;
  margin-bottom: 7px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  line-height: 1.5;
}

.title-name {
  font-size: 64px;
  color: white;
  text-align: center;
  padding-bottom: 64px;
  padding-top: 64px;
  overflow: hidden;
}

.menu-table {
  width: 80%;
  background-color: white;
  border: #9f9f9f;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  margin: 0 auto;
  overflow: hidden;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.menu-3-boxes {
  float: left;
  width: 33.33%;
  background-color: #000000;
  font-size: 36px;
  text-align: center;
  position: relative;
  color: white;
  overflow: hidden;
  padding: 12px 24px;
}

.active, .menu-3-boxes:hover {
  background-color: #f44336;
}

.column-left {
  width: 75%;
  float: left;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.column-right {
  width: 25%;
  float: right;
  color: white;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}
#hot {
  color:white;
  background-color:#f44336;
  padding-left:8px;
  padding-right: 8px;
  border-radius: 4px;
  font-weight: normal;
}

#new {
  color:black;
  background-color:#9e9e9e;
  padding-left:8px;
  padding-right: 8px;
  border-radius: 4px;
  font-weight: normal;
}
.menu-black-text {
  font-size: 36px;
  color: black;
  font-weight: bold;
}

.menu-grey-text {
  font-size: 36px;
  color: #757575;
}

.menu-grey-text-top {
  font-size: 36px;
  color: #757575;
}

mark {
  background-color: #616161;
  color: white;
  float: right;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
}

.mark-red {
  background-color: red;
  color: white;
}

//about container

.about-container {
  background-color: #8b5f5b;
  width: 100%;
  overflow: hidden;
  padding: 64px 16px;

h2 {
  color: white;
  font-size: 24px;
  font-weight: normal;
}
.about-table {
  width: 80%;
  border: none;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 64px;
}

.chef-img {
  float: right;
  border-radius: 50%;
  border-style: none;
}

.restaurant-image {
  margin-bottom: 16px;
  margin-top: 16px;
  vertical-align: middle;
  border-style: none;
}

#opening-hours {
  font-size: 36px;
  color: white;
  margin-top: 15px;
}

.opening-hours-left {
  width: 50%;
  float: left;
}

.opening-hours-right {
  width: 50%;
  float: left;
}

//CONTACT
.contact-container {
  background-color: #6c7a81;
  width: 100%;
  padding:64px 16px;
}

.contact-table {
  width: 80%;
  border: none;
  text-align: left;
  margin: 0 auto;
}

#reserve-table {
  font-size: 36px;
  margin-top: 36px;
  margin-bottom: 36px;
  color: white;
}

.contact-table {
  .input-field {
    width: 100%;
    padding: 16px 8px;
    border-width:1px;
    border-style: solid;
    border-color: #ccc;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Amatic SC', cursive;
    display: block;
    margin-bottom: 25px;
    height: 70px;
  }

  .send-button {
       width: 100%;
       padding: 8px 16px;
       border: 1px;
       border-style: solid;
       border: #ccc;
       text-transform: uppercase;
       font-size: 24px;
       font-family: 'Amatic SC', cursive;
       display: block;
       margin: 0;
       cursor: pointer;
    background-color: white;
     }
  .send-button:hover {
   background-color:lightgrey;
  }
}

//FOOTER
.footer-container {
  width: 100%;
  background-color: black;
  padding-top: 48px;
  padding-bottom: 48px;
  box-sizing: border-box;
}

.footer-text {
  margin-top: 36px;
  margin-bottom: 36px;
  font-size: 36px;
  color: white;
  text-align: center;
}

.footer-text a:hover{
   color: green;
 }

.footer-text a, .footer-text a:visited{
  color: white;
}

//GOOGLE MAP
#googleMap {
  filter: grayscale(100%);
}

//MEDIA
  @media only screen and (max-width: 600px) {
    .topnav {
      overflow: hidden;
      display: none;
    }
  }