/*MAIN STYLES*/

* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body, html {
    height: 100%;
    font-size: 15px;
    margin: 0;
    background-color: #f2e1e1;
}

p {
    line-height: 2;
    margin: 15px 0;
    font-size: 14px;
}

h1 {
    font-size: 58px;
}

h2 {
    font-size: 26px;

}

h1, h2 {
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 4px;
    padding-bottom: 10px;
}

/*IMAGES*/

.headerImg, .imgFlowers {
    min-height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.headerImg {
    background-image: url("img/wedding_couple.jpg");
}

.imgCouple2 {
    background-image: url("img/wedding_couple2.jpg");
    vertical-align: middle;
    height: 506px;
    object-fit: cover;
    width: 100%;
    background-color: #f44336;
    background-repeat: no-repeat;
}

.imgFlowers {
    background-image: url("img/flowers.jpg");
}

.imgLocation {
    background-image: url("img/wedding_location.jpg");
    height: 600px;
    background-repeat: no-repeat;
}


/*OTHER STYLES*/
.letters-spicing {
    letter-spacing: 4px;
}

.grey-style {
    filter: grayscale(50%);
}

.display-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-center {
    text-align: center;
}

.pading-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}

.white-text {
    color: white;
}

.grey-text {
    color: #757575;
}

.round {
    border-radius: 4px;
}

.wedding-button {
    color: #fff;
    background-color: black;
    font-size: 17px;
}

.padding-12-24 {
    padding: 12px 24px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: lightgrey;
}

.img-margin-64 {
    margin: 64px 0;
    width: 100%;
}

.img-margin-32 {
    margin: 32px 0;
    width: 100%;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer-line {
    color: white;
    background-color: black;
}

.footer-padding-16 {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 49px;
}

.rsv-button {
    color: white;
    background-color: #f44336;
    font-size: 24px;
    padding: 14px 60px;
    opacity: 0.60;
}

.margin-kind {
    padding: 16px 18px;
}

.padding-8-16 {
    padding: 8px 16px;
}

.opacity {
    opacity: 0.75;
}

.menu-bar-item {
    float: left;
    width: auto;
    display: block;
    padding: 8px 16px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: 0px;
}

.button {
    user-select: none;
    float: left;
    width: auto;
    display: block;
    padding: 8px 16px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: 0;
    color: #f44336;
}

.button a {
    color: red;
}

.menu-container {
    background-color: white;
    width: 100%;
    padding: 8px 16px;
}

.navbar {
    overflow: hidden;
    background-color: white;
    bottom: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 14px;
}

.navbar a:hover {
    background: lightgray;
    color: black;
}

.navbar a:hover:last-child {
    background-color: black;
    color: white;
}

.container {
    position: relative;
    width: 900px;
    margin: 0 auto;

}

.menu-style {
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 99999;
    box-sizing: inherit;
}

.fontSize_36px {
    font-size: 34px;
}

.rsv-background {
    background-color: #ffdddd;
}