.body {
    width: 1080px;
    height:100%;
}
.blokas {
    background-image: url("img/wedding_couple.jpg");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 700px;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
}