body, html {
    height: 100%;
}
html {
    overflow-x: hidden;
    box-sizing: border-box;
}
p {
    line-height: 2;
}
.usimg {
    background-image: url(img/wedding_couple2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 506px;
    display: block;
    margin: 32px 0;
}
.bgimg {
    background-image: url(img/wedding_couple.jpg);
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
.w-pav {
    font-size: 64px;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    font-family:"Raleway", sans-serif;
}
.w-pav-2 {
    font-size: 30px;
    top:70%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    font-family:"Raleway", sans-serif;
}
.w-pav-date {
    font-size: 30px;
    top:80%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    font-family:"Raleway", sans-serif;
}
.w-pav-3 {
    font-size: 36px;
    text-align: center;
    font-family:"Raleway", sans-serif;
    color: #757575!important;
}
.w-us-text {
    font-size: 15px;
    text-align: left;
    color: #000!important;
    font-family:"Raleway", sans-serif;
    font-style: italic;
}
.block-us {
    background-color:  #ffdddd!important;
}
.weding-round {
    border-radius: 4px;
}
.grey-style {
    filter: grayscale(50%);
}
.w-center {
    text-align: center!important;
}
.weding-button {
    background-color: black;
    color: white;
    padding: 12px 24px!important;
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.wedding-button-text {
    font-size: 18px;
    font-family:"Raleway", sans-serif;

}