.blokas {
    background-image: url("http://www.sergita.lt/images/default/source/products/original/medziaginis-fonas-lastolite-3-x35m-wyoming6l7550-1553-1.jpg");
    background-repeat: repeat-x;
    width: 100%;
    height: 350px;
}
table {
    font-family: arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    border-collapse: collapse;
}
td, th {
    border: 3px solid dimgrey;
    text-align: center;
    padding: 15px;
    color: black;
}
/* This is a single-line comment */