body,h1,h2{
    font-family: "Raleway", sans-serif;
}
body, html {
    height: 100%;
    font-size: 15px;
    margin: 0;
}
p {
    line-height:2;
}
h1, h2 {
    font-weight: 400;
}
.img-couple, .img-flowers {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.img-couple{
    background-image: url("img/wedding_couple.jpg");
}
.img-couple2{
    background-image: url("img/wedding_couple2.jpg");
    background-repeat: no-repeat;
    vertical-align: middle;
    height: 506px;
}
.img-flowers {
    background-image: url("img/flowers.jpg");
}
.img-location {
    background-image: url("img/wedding_location.jpg");
    height: 600px;
    background-repeat: no-repeat;
}
.header-block {
    position: relative;
}
.letters-spicing {
    letter-spacing: 4px;
}
.grey-style {
    filter: grayscale(50%);
}
.display-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-center {
    text-align: center;
}
.pading-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}
.color-background {
    color: #000;
    background-color: #ffdddd;
}
.content {
    max-width: 980px;
    margin: auto;
}
.white-text {
    color: white;
}
.grey-text {
    color: #757575;
}
.round {
    border-radius: 4px;
}
.wedding-button {
    color: #fff;
    background-color: black;
    font-size: 18px;
}
.padding-12-24{
    padding: 12px 24px;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
a:link {
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: lightgrey;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 30px;
}
.img-margin-64 {
      margin:64px 0;
      width: 100%;
}
.img-margin-32 {
    margin:32px 0;
    width: 100%;
}
.column {
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.footer-line {
    color: white;
    background-color: black;
}
.footer-padding-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}
.rsv-button {
    color: white;
    background-color: #f44336;
    font-size: 24px;
    padding: 14px 60px;
    opacity: 0.60;
}
.margin-kind  {
    padding: 16px 18px;
}
.menu-style {
    bottom: 0;
}
.padding-8-16 {
    padding: 8px 16px ;
}
.opacity {
    opacity: 0.75;
}
.menu-bar-item {
    float: left;
    width: auto;
    display: block;
    padding: 8px 16px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: 0px;
}
.button {
    user-select: none;
}
.navbar {
    overflow: hidden;
    background-color: #eeeeee;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background: #ddd;
    color: black;
}
.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
}